@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Alta Baja y Modificacion</h3>
    <p class="lead">Para el alta, baja o modificacion dirijase los apartados en la barra de navegacion.</p>
</div>